<div class="center">
	<%= image_tag "DarthVader.png", :style => "height: 500px; width: auto;" %>
	<h1><br/>Choose one</h1>
</div>
<div>
	<%= link_to new_session_path do %>
	<div class="col_half center" style="border-style:solid;">
		<h3><span>Create</span><br/>
		<small>a <b>new</b> video lobby</small></h3>
	</div>
	<% end %>
	
	<%= link_to join_session_path do %>
	<div class="col_half col_last center" style="border-style:solid;">
		<h3><span>Join</span><br/>
		<small>an <b>existing</b> video lobby</small></h3>
	</div>
	<% end %>
</div>