<div class="center" style="height:593px;">
  <div id="player" class="video-wrapper js-video-wrapper" style="max-width:600px; height:100%; padding:0; margin:0;">
    <div class="video-responsive" style="max-width:600px; height:100%; padding:0; margin:0;">
      <%= video_tag @video, "", size: '0' %>
      <% if @identity == "first-2" %>
        <canvas class="canvas js-canvas" id="first-2"></canvas>
      <% else %>
        <canvas class="canvas js-canvas" id="second-2"></canvas>
      <% end %>
      <div class="video-timeline js-timeline">
        <div class="video-timeline-passed js-timeline-passed"></div>
      </div>
    </div>
  </div>
  <script>
    document.getElementsByTagName('video')[0].className += "video js-video";
    var rand = Math.random().toString();

    var vidSync = new VideoSync('<%= @channel_name %>', 'Player' + rand);

    var player = new CanvasVideoPlayer({
      videoSelector: '.js-video',
      canvasSelector: '.js-canvas',
      timelineSelector: '.js-timeline',
      audio: true,
      PBonPlayerReady : vidSync.onPlayerReady,
      PBonPlayerStateChange : vidSync.onPlayerStateChange
    });

  </script>
</div>
