<div class="topmargin-lg center bottommargin">
	<h1>Welcome to the lobby</h1>
	<p class="para">The canvas below shows friends who have joined your lobby.</p>
	<p class="para">Drag and drop the rectangles (representative of screen size) to your desired configuration.</p>
	<p class="para">Click "Stream" to play video.</p>

	<div id="player"></div>
	<script>
		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	</script>

	<div style="border-style:solid; width:auto; height:500px;">
		Canvas goes here
	</div>

	<button class="button button-xlarge button-rounded button-dark">Stream</button>
</div>