#first-2 {
	min-width:200% !important;
	left:0px !important;
	min-height:100% !important;
	position:fixed !important;
}

#second-2 {
	min-width:200%;
	left:-100%;
	min-height:100%;
	position:absolute;
}
