<!DOCTYPE html>
<html>
<head>
  <title>divid.io</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', "http://cdn.pubnub.com/pubnub.min.js", "videosync", "stanko", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">


</head>
<body class="stretched">
	<%= yield %>
</body>
</html>
